input.form-control.common-input-css.is-invalid {
    border: 2px solid #ad1616;
}

.password .common-fa {
    position: absolute;
    top: 18px !important;
    right: 43px;
}

.invalid-feedback .green-color {
    color: green;
}

.invalid-feedback.block i,
.invalid-feedback.block p {
    display: inline-block;
}

.invalid-feedback.block p {
    margin-left: 5px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0;
}
.match-captcha .col-1 {
    color: #cba269;
    font-weight: 400;
    line-height: 50px;
    color: #cba269;
}
.form-group {
    position: relative;
}
