<section class="common-form login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-form">
                    <form [formGroup]="resetPwdForm" (ngSubmit)="resetPwd(resetPwdForm.value)">
                        <!-- <div class="mb-3 cus-mb form-group">
                            <input type="password" class="form-control common-input-css"
                                placeholder="Enter new password" formControlName="password"
                                [class.have-value]="f.password.value"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" (keyup)="onEnter()">
                            <div class="invalid-feedback block">
                                <span *ngIf="submitted && f.password.hasError('required')">
                                    Password is required
                                </span>
                            </div>
                        </div> -->

                        <div class="mb-3 cus-mb password form-group">
                            <input [type]="show ? 'text' : 'password'" class="form-control common-input-css "
                                placeholder="password" formControlName="password"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" maxlength="20" trim>

                            <i [className]="show ? 'fa fa-eye common-fa' : 'fa fa-eye-slash common-fa'" class="eyconic"
                                (click)="password()"></i>

                            <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <span class="for-sub-name" *ngIf="f.password.errors.required">Password is
                                    required</span>
                                <span class="for-sub-name" *ngIf="f.password.errors.minlength">Password must be
                                    at least 8 characters</span>
                            </div> -->
                            <div class="invalid-feedback block">
                                <span *ngIf="submitted && f.password.hasError('required')">
                                    Password is required
                                </span>
                                <span>
                                    <ng-container *ngIf="!f.password.hasError('required')">

                                        <i class="fa" [class.fa-times-circle]="f.password.hasError('minlength')"
                                            [class.green-color]="!f.password.hasError('minlength')"
                                            [class.fa-check-circle]="!f.password.hasError('minlength')">
                                            <p>
                                                Must be at least 8 characters!
                                            </p>
                                        </i> <br>
                                        <i class="fa" [class.fa-times-circle]="f.password.hasError('hasCapitalCase')"
                                            [class.green-color]="!f.password.hasError('hasCapitalCase')"
                                            [class.fa-check-circle]="!f.password.hasError('hasCapitalCase')">
                                            <p>
                                                Must contain at least 1 in Capital Case!
                                            </p>
                                        </i> <br>
                                        <i class="fa" [class.fa-times-circle]="f.password.hasError('hasSmallCase')"
                                            [class.green-color]="!f.password.hasError('hasSmallCase')"
                                            [class.fa-check-circle]="!f.password.hasError('hasSmallCase')">
                                            <p>
                                                Must contain at least 1 Letter in Small Case!
                                            </p>
                                        </i> <br>
                                        <i class="fa" [class.fa-times-circle]="f.password.hasError('hasNumber')"
                                            [class.green-color]="!f.password.hasError('hasNumber')"
                                            [class.fa-check-circle]="!f.password.hasError('hasNumber')">
                                            <p>
                                                Must contain at least 1 number!
                                            </p>
                                        </i> <br>
                                        <i class="fa"
                                            [class.fa-times-circle]="f.password.hasError('hasSpecialCharacters')"
                                            [class.green-color]="!f.password.hasError('hasSpecialCharacters')"
                                            [class.fa-check-circle]="!f.password.hasError('hasSpecialCharacters')">
                                            <p>
                                                Must contain at least 1 Special Character!

                                            </p>
                                        </i> <br>
                                    </ng-container>
                                </span>
                            </div>
                        </div>
                        <div class="mb-3 cus-mb form-group">
                            <input type="password" class="form-control common-input-css"
                                placeholder="Enter confirm password" formControlName="passwordConfirm"
                                [class.have-value]="f.passwordConfirm.value"
                                [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors }" (keyup)="onEnter()">
                            <div *ngIf="submitted && f.passwordConfirm.errors" class="invalid-feedback">
                                <span class="for-sub-name" *ngIf="f.passwordConfirm.errors.required">Password
                                    confirmation is required</span>
                                <span class="for-sub-name" *ngIf="f.passwordConfirm.errors.minlength">Password must
                                    be at least 8 characters</span>
                            </div>
                            <div>
                                <span class="for-sub-name colred" *ngIf="mismatch == true">Password doesn't match</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="BT login-bt" type="submit" [disabled]="isBtnDisabled">submit
                                <i class="fa fa-spinner fa-spin" *ngIf="isBtnDisabled" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                    <div class="col-lg-12">
                        <div class="mb-3 cus-mb">
                            <a class="form-a" href="javascript:void(0)" [routerLink]="['/login']">Click here to
                                login</a>
                            <a class="form-a" href="javascript:void(0)" [routerLink]="['/register']">Create
                                Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>