.split-class {
    width: 62%;
    height: 31px;
}

.search-text {
    margin-top: 7px;
}

.addBtn button.btn.btn-primary {
    margin-right: 3px;
}

.etd-input {
    height: 31px;
    font-size: 11px;
    font-weight: 700;
    width: 100%;
}

.blue {
    background-color: #bcbcde !important;
}

i.fa.fa-remove {
    color: #d62727;
}

input.search-text {
    height: 33px !important;
    width: 100%;
}

button.p-button-rounded.p-button-warning.p-button.p-component.p-button-icon-only {
    color: #ffffff;
    background: #d32f2f;
    border: 1px solid #d32f2f;
}

.justify-content-center button.p-mr-2.p-button.p-component.p-button-icon-only {
    margin: 3px;
    height: 29px;
    width: 9%;
}

img.student-photo {
    height: 20px;
    z-index: 10000;
}

.student-photo:hover {
    transform: scale(8);
    transform-origin: bottom;
    z-index: 10000;
}

.student-photo:active {
    transform: scale(8);
    transform-origin: bottom;
    z-index: 10000;
}

.ui-column-resizer {
    display: block !important;
    position: absolute !important;
    top: 0;
    right: 0;
    /* margin: 0; /
    / width: .5em; */
    width: 1px !important;
    height: 100% !important;
    padding: 1px !important;
    cursor: col-resize !important;
    border-left: 1px solid red !important;
    border-right: 1px solid red !important;
}

.product-item .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
}

.product-item .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.product-item-content img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.editImg {
    object-fit: contain;
    width: 150px;
    height: auto;
}

.editableDiv li {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 10px 0;
    padding: 1rem 1rem;
}

.editableDiv li button.p-button.p-component.p-button-icon-only {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.close-me.overlay-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

th.p-sortable-column {
    /* padding: 3px 3px !important; */
    width: 154px;
}

.imgPopup {
    font-weight: 600;
    font-size: larger;
    padding-top: 33px;
    text-align: center;
    width: 100%;
    color: red;
}

.cus-width {
    width: 20%;
}

.d-flex.new-fl {
    float: none;
}

body.main-body.leftmenu.main-sidebar-hide .d-flex.new-fl {
    float: right;
}

html body .calender-class .checkBoxlb {
    font-size: 12px;
}

html body .table-header input.p-inputtext.p-component {
    font-size: 12px !important;
    padding-left: 28px;
}

html body input.p-inputtext.p-component {
    max-width: 130px!important;
}

html body .calender-class .checkBoxlb {
    font-size: 12px!important;
}

html body .p-multiselect-label {
    font-size: 12px!important;
}

html body .p-multiselect.p-component {
    min-width: auto !important;
}

html body .d-flex.new-fl {
    float: right !important;
}

.p-d-flex.table-header {
    display: flex;
    justify-content: space-between;
}

.p-d-flex.table-header span.p-input-icon-left.p-ml-auto {
    width: 125px !important;
    margin-right: 15px !important;
}

.p-d-flex.table-header span.p-input-icon-left.p-ml-auto input.p-inputtext.p-component {
    width: 100% !important;
    font-size: 12px !important;
    padding: 0 0 0 25px;
    height: 30px !important;
}

.p-d-flex.table-header span.p-input-icon-left.defaltCol {
    width: 120px !important;
}

.p-d-flex.table-header span.p-input-icon-left.defaltCol p-multiselect.p-inputwrapper-filled,
.p-d-flex.table-header span.p-input-icon-left.defaltCol .p-multiselect.p-component {
    width: 100% !important;
    min-width: auto !important;
    font-size: 12px !important;
}

.p-d-flex.table-header span.checkClass label {
    font-size: 12px !important;
}

.p-d-flex.table-header span.checkClass button.btn.btn-primary.my-2.btn-icon-text {
    font-size: 12px !important;
    padding: 0 10px;
    height: 30px !important;
    display: inline-block;
    line-height: 28px !important;
    min-height: auto;
}

html body .p-d-flex.table-header .p-multiselect.p-component {
    min-width: unset !important;
    width: 115px !important;
    font-size: 12px;
    padding: 3px 0;
}

.p-d-flex.table-header button.btn.btn-white.btn-icon-text.my-2.mr-2.filesBtn img {
    max-width: 15px;
    position: relative;
    bottom: 1px;
}

.p-d-flex.table-header button.btn.btn-primary.my-2.btn-icon-text {
    min-height: auto !important;
    height: 30px !important;
    padding: 0 10px;
}

html body .p-d-flex.table-header .p-multiselect.p-component {
    width: 115px;
    font-size: 12px;
    padding: 3px;
}

html body .p-d-flex.table-header .p-multiselect.p-component .p-multiselect-label {
    padding: 0 0 0 5px;
    height: 30px !important;
    line-height: 30px !important;
}

.p-d-flex.table-header button.btn.btn-white.btn-icon-text.my-2.mr-2.filesBtn {
    padding: 0 10px;
    height: 30px !important;
    min-height: auto;
    line-height: 30px !important;
}