input.form-control.common-input-css.is-invalid {
    border: 2px solid #ad1616;
}

.match-captcha .col-1 {
    font-weight: 400;
    line-height: 50px;
    color: #cba269;
    font-size: 19px;
}

.num-captcha {
    display: flex;
    background: #000000bd;
    border-radius: 9px;
}
.inner-form.forgot{
    max-width: 455px;
}