<section class="common-form login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-form forgot">
                    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword(forgotForm.value)">
                        <div class="row">
                            <div class="col-lg-12">
                                <img class="login-logo" src="assets/images/logog.png">
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3 cus-mb form-group">
                                    <input type="email" id="username" class="form-control common-input-css" placeholder="enter your email" [class.have-value]="f.email.value" (keyup)="onPassEnter($event)" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" trim
                                    />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <span class="for-sub-name" *ngIf="f.email.errors.required">Email is
                                            Required</span>
                                        <span class="for-sub-name" *ngIf="f.email.errors.email">
                                            Email must be a valid email address
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-12 form-group">
                                <div class="mb-3 cus-mb"> -->
                            <!-- CheckSum -->
                            <!-- <ng-container>
                                        <div class="d-flex match-captcha form-group">
                                            <div class="num-captcha">
                                                <div class="col-1"><span><strong>{{mathCaptcha.matchCapNum1}}</strong></span></div>
                                                <div class="col-1">+</div>
                                                <div class="col-1"><span><strong>{{mathCaptcha.matchCapNum2}}</strong></span></div>
                                                <div class="col-1">=</div>
                                                <div class="col">
                                            </div>
                                           
                                                <div>
                                                    <input type="text" placeholder="Resolve Captcha"
                                                        class="form-control common-input-css" trim
                                                        (keyup)="mathCaptcha.mathCapInputError=''"
                                                        [(ngModel)]="mathCaptcha.mathCapInput"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [ngClass]="{ 'is-invalid': mathCaptcha.mathCapInputError }"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container> -->
                            <!-- endCheckSum -->
                            <!-- </div>
                            </div> -->
                            <div class="col-lg-12 form-group">
                                <div class="mb-3 cus-mb">
                                    <div class="form-group captcha g-recaptcha">
                                        <re-captcha (resolved)="resolved($event)" siteKey="6Lcy7N4ZAAAAAHpYHlxEitgnmnAWUJaCCe5cNUzk"></re-captcha>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3 cus-mb">
                                    <button class="BT login-bt" type="submit" [disabled]="isBtnDisabled">submit
                                        <i class="fa fa-spinner fa-spin" *ngIf="isBtnDisabled" aria-hidden="true"></i>

                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3 cus-mb">
                                    <a class="form-a" href="javascript:void(0)" [routerLink]="['/login']">Click here to
                                        login</a>
                                    <a class="form-a" href="javascript:void(0)" [routerLink]="['/register']">Create
                                        Account</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>